<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjgd.rental.mapper.PermissionMapper">

    <select id="selectPermissionListByUserId"
            resultType="com.tjgd.rental.entity.Permission"
            parameterType="com.tjgd.rental.entity.User">
        select distinct p.id,
                        p.permission_label,
                        p.pid,
                        p.parent_label,
                        p.permission_code,
                        p.route_path,
                        p.route_name,
                        p.route_url,
                        p.permission_type,
                        p.order_num,
                        p.icon
        from sys_user u
                 left join sys_user_role ur on ur.user_id = u.id
                 left join sys_role r on r.id = ur.role_id
                 left join sys_role_permission rp on rp.role_id=r.id
                 left join sys_permission p on p.id=rp.permission_id
        where u.id = #{id}
          and p.id is not null
        order by p.id,p.order_num
    </select>
</mapper>
